<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
      Nueva Acta de Entrega</div>
    <div class="card-body">
      <%= render 'form', actum: @actum %>
  </div>
</div>
